<footer class="usa-footer usa-footer-medium" role="contentinfo">
  {% if site.footer.links %}
  <div class="usa-footer-primary-section">
    <div class="usa-grid-full">
    </div>
  </div>
  {% endif %}
  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-footer-logo usa-width-one-half">
        {% if site.footer.image %}
          <img class="usa-footer-logo-img" src="{{ site.footer.image | prepend: site.baseurl }}" alt="Logo image">
        {% endif %}
        {% if site.footer.text %}
          <p>{{ site.footer.text }} <a href="https://github.com/{{ site.org_name }}/{{ site.repo_name }}/edit/{{ site.branch }}/{{ page.path }}" target="_blank">Suggest an edit</a>.</p>
          <p>
            <a href="https://commons.wikimedia.org/wiki/Cloud#/media/File:Cirrus_clouds_mar08.jpg">
              Header Image Photo
            </a> by 
            <a href="https://en.wikipedia.org/wiki/User:Fir0002">
              fir0002
            </a> / 
            <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC</a>
          </p>
        {% endif %}
      </div>

      <div class="usa-footer-contact-links usa-width-one-half">

      </div>
    </div>
  </div>
</footer>
