body,
p, ul, ol, li, a  {
  color: $text-color;
}

legend, label,
h1, h2, h3, h4, h5, h6 {
  color: $headers-color;
}

.usa-section-dark {
  legend, label,
  h1, h2, h3, h4, h5, h6,
  p {
    color: $reverse-text-color;
  }
}

a {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
  &:active {
    color: $link-active-color;
  }
  &:visited {
    color: $link-visited-color;
  }
}

#main:focus {
  outline: none;
}

.usa-logo img {
  max-width: 6rem;
  vertical-align: text-bottom;
  margin-right: 10px;
  transition: all 0.5s ease;
}

.usa-logo-text {
  font-size: 2rem;
  transition: all 0.5s ease;
}

.usa-logo {
  transition: all 0.5s ease;
}


@media screen and (min-width: 600px) {
  .usa-width-one-whole.usa-section {
    position: relative;
    left: 50%;
    max-width: 62.5rem;
    margin-left: -31.25rem;
  }
}

@media screen and (max-width: 951px){
  .sticky {
    position: static !important;
  }
}

@media screen and (min-width: 951px){
  .sticky {
    position: -webkit-sticky;
    position: sticky;
  }

  aside.sticky {
    top: 215px;
  }
}