.usa-graphic_list  {

    .project-container {
        margin: auto 0;
    }
    .card {
        background: none;
        min-height: 250px;


        // box-shadow: none;

        // &:hover {
        //     box-shadow: none;
        // }

        // &:active {
        //     box-shadow: none;
        // }

        a {
            border: none;
        }
       
        img {
            max-height: 125px;
            margin: auto 0 1.5rem;
            display: block;
        }

        h3 {
            text-align: center;
        }
    }
}
