@media all and (min-width: 951px) {
  .usa-header-basic .usa-navbar {
    // this affects the size of the logo and also the mobile menu nav
    width: 30%;
  }
}

@media all and (max-width: 951px) {
  #logo img {
    // keep header img from overflowing menu bar
    max-height: 3.7rem;
  }
}

.usa-nav-primary a:hover {
  color: $button-color;
}

.usa-nav-link:hover span {
  border-bottom-color: $button-color;
}

.usa-nav-submenu a:visited {
  color: $background-color;
}

// .usa-nav-primary {
//   padding-top: 1.9em;
// }

.usa-nav-primary .helper {
    font-weight: normal;
    display: block;
    padding-top: 0.4rem;
    padding-bottom: 1.9rem;
}




.usa-nav-link:hover span {
     border-bottom: none;
     padding-bottom: 0;
}

.usa-nav-link:hover span.helper {
     border-bottom: 0.7rem solid #0071bc;
    //  padding-bottom: 0.9rem;
}

.usa-nav-primary button[aria-expanded=true] span {
    border-bottom: none;
    padding-bottom: 0.9rem;
}

.usa-nav-primary button[aria-expanded=true] span.helper {
    border-bottom: 0.7rem solid #0071bc;
}

