@media only screen and (min-width: 951px) {
  .usa-banner {
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
  }
  .usa-header-extended {
    position: fixed;
    top: 22px;
    background: $background-color;
  }

  .main-content {
    margin-top: 215px;
  }
}


@media all and (max-width: 951px) {
  #logo img {
    // keep header img from overflowing menu bar
    max-height: 3.7rem;
  }
}

.usa-nav-primary a:hover {
  color: $button-color;
}

.usa-nav-link:hover span {
  border-bottom-color: $button-color;
}

.usa-nav-submenu a:visited {
  color: $background-color;
}


.usa-nav-primary .helper {
    font-weight: normal;
    display: block;
    padding-top: 0.4rem;
    padding-bottom: 1.9rem;
}

.usa-nav-primary > li > a .helper {
  padding-bottom: 0;
}

.usa-nav-link:hover span {
     border-bottom: none;
}

.usa-nav-link:hover span.helper {
     border-bottom: 0.7rem solid #0071bc;
    //  padding-bottom: 0.9rem;
}

.usa-nav-primary button {
  padding-bottom: 0;
  vertical-align: middle;
}

.usa-nav-primary > li > a.usa-nav-link {
  display: inline-block;
  vertical-align: middle;
}

.usa-nav-primary button[aria-expanded=true] span {
    border-bottom: none;
    padding-bottom: 0.9rem;
}

.usa-nav-primary button[aria-expanded=true] span.helper {
    border-bottom: 0.7rem solid #0071bc;
}



