---
layout: base
---

<section>
    <div class="usa-grid">
      <div class="usa-width-one-half  banner tagline">
        <h1>{{ page.hero-text }}</h1>
        {{ page.hero-sub-text }}
      </div>
      <div class="usa-width-one-half">
         Whether you’re piloting a program or migrating an agency, we can help you: 
         <ul>
           <li>Learn how and why cloud matters to your mission</li>
           <li>Build buy-in and support for IT modernization</li>
           <li>Compare vendors to find the right solutions</li>
         </ul>

      </div>
  </div>
</section>


{% if page.banner-heading %}
<section class="usa-section banner tagline">
  <div class="usa-grid">
    <div class="usa-width-one-whole usa-end-row">
      <h2>{{ page.banner-heading }}</h2>
      {% if page.banner-text %}
        <p>{{ page.banner-text }}</p>
      {% endif %}
      {% if page.banner-button-text %}
      <div class="center-content">
        <a href="{{ page.banner-button-link | prepend: site.baseurl }}" class="usa-button">{{ page.banner-button-text }}</a>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}

<section class="usa-grid usa-section">
  <div class="usa-width-one-whole usa-end-row">
    {{ content }}
    {% if page.content-button-link %}
      <a href="{{ page.content-button-link | prepend: site.baseurl }}" class="usa-button">{{ page.content-button-text }}</a>
    {% endif %}
  </div>
</section>

{% include contact.html %}
