---
layout: base
---

  <section class="usa-hero">
    <div class="usa-grid">
      <div class=="usa-width-one-third" style="float: left;margin-right: 2em;">
          <div class="usa-hero-callout usa-section-dark">
            <h2>
      
              <span class="usa-hero-callout-alt">{{ page.hero-text }}</span>
      
              
            </h2>
      
      
            <p>{{ page.hero-sub-text }}</p>
          </div>
        </div>
        <div class="usa-width-one-half">
           <h3>Whether you’re piloting a program or migrating an agency, we can help you:</h3>
          <ul>
            <li>Learn how and why cloud matters to your mission</li>
            <li>Build buy-in and support for IT modernization</li>
            <li>Compare vendors to find the right solutions</li>
          </ul>

        </div>
    </div>
  </section>



  <section class="usa-section usa-section-dark usa-graphic_list">
    <div class="usa-grid usa-graphic_list-row">
      <div class="usa-width-one-half usa-media_block">
        <img class="usa-media_block-img" src="/assets/img/circle-124.png" alt="Alt text">
        <div class="usa-media_block-body">
          <h3><a href="/why-cloud">Why Cloud?</a></h3>
          <p>Efficiency, agility, and innovation benefits</p>
        </div>
      </div>
      <div class="usa-width-one-half usa-media_block">
        <img class="usa-media_block-img" src="/assets/img/circle-124.png" alt="Alt text">
        <div class="usa-media_block-body">
          <h3><a href="/find-cloud-solutions">Cloud solutions</a></h3>
          <p>Products and services that support your mission goals</p>
        </div>
      </div>
    </div>
    <div class="usa-grid usa-graphic_list-row">
      <div class="usa-width-one-half usa-media_block">
        <img class="usa-media_block-img" src="/assets/img/circle-124.png" alt="Alt text">
        <div class="usa-media_block-body">
          <h3><a href="/acquisition">Acquisition</a></h3>
          <p>What you need to know about procurement</p>
        </div>
      </div>
      <div class="usa-width-one-half usa-media_block">
        <img class="usa-media_block-img" src="/assets/img/circle-124.png" alt="Alt text">
        <div class="usa-media_block-body">
          <h3><a href="/implementation">Implementation</a></h3>
          <p>How to spot opportunities and build buy-in</p>
        </div>
      </div>
    </div>
        <div class="usa-grid usa-graphic_list-row">
          <div class="usa-width-one-half usa-media_block">
            <img class="usa-media_block-img" src="/assets/img/circle-124.png" alt="Alt text">
            <div class="usa-media_block-body">
              <h3>
                <a href="/support">Support</a>
              </h3>
              <p>Fast help from real people</p>
            </div>
          </div>
          <div class="usa-width-one-half usa-media_block">
            <div class="usa-media_block-body">
              <h3>
                
              </h3>
              <p> </p>
            </div>
          </div>
        </div>
  </section>



