---
layout: base
---

  <section class="usa-hero">
    <div class="usa-grid">
      <div class="usa-width-one-third">
          <div class="usa-hero-callout usa-section-dark">
            <h2>
              <span class="usa-hero-callout-alt">{{ page.hero-text }}</span>
            </h2>
      
      
            <h3>{{ page.hero-sub-text }}</h3>
          </div>
        </div>
        <div class="usa-width-one-half">
           <h3>Whether you’re piloting a program or migrating an agency, we can help you:</h3>
          <ul>
            <li>Learn how and why cloud matters to your mission</li>
            <li>Build buy-in and support for IT modernization</li>
            <li>Compare vendors to find the right solutions</li>
          </ul>

        </div>
    </div>
  </section>



  <section class="usa-section usa-graphic_list">
    <div class="usa-grid">
    {% if page.link_cards %}
    <div class="project-container">
      <div class="usa-grid">
        {% for card in page.link_cards %}
        <article class="card usa-width-one-third">
          <a class="card-link" href="{{ card.permalink | prepend: site.baseurl }}" aria-hidden="true" tabindex="-1">
            <div class="card-banner">
              <img src="./assets/img/{{ card.image }}" />
              <h3 class="card-description">
                <span>{{ card.title }}</span>
              </h3>
              <p class="card-summary">{{ card.summary }}</p>
            </div>
          </a>
        </article>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    </div>
  </section>



